.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1999;
  display: flex;
  justify-content: center;
  align-items: center;
  
  left: 0;
  top: 0;
}

.mask {
  position: absolute;
  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.mask img {
  height: 100%;
  max-width: auto;
  width: auto;
}

.image {
  position: absolute;
  opacity: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  visibility: visible;
}

.image img {
  height: 100%;
  max-width: auto;
  width: auto
}

.image.hidden {
  opacity: 0;
  visibility: hidden;
}