
.rootElement {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  
  canvas {
    display: block;
  }
}


.app {
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* The root div should also take up the full height */
#root {
  height: 100%;
}

.canvas-container {
  height: 100vh;
  width: 100vw;
}